.login-box{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
}
.data-table{
    min-width: 100%!important;
}

.responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.office_widget{
    border-radius: 10px!important;
    border-color: white!important;
    padding: 20px!important;
}
#oneirt-items{
    display: none;
}
.item_name{
    width: 300px!important;
}
.separator{
    clear:both;
    height: 20px;
    border-bottom: 1px gray solid;
    margin-bottom: 20px
}
body{
    font-family: "kokila"!important;
    font-size: 20px!important;
}
input{
    font-size: 20px!important;
    color: black!important;
    font-weight: bold;
}
.gov_name{
	font-size: 14px;
}
.min_name{
	font-size: 18px;
}
.off_name{
	font-size: 22px;
	font-weight: bold;
}
.form_name{
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}


.table-black-border td, .table-black-border th{
    border: 1px black solid!important;
}
.borderless td, .borderless th {
    border: none;
}
.preeti{
    font-family: "preeti", Kokila;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    font-size: 20px;
    height: 35px;
    width: 100%!important;
}
.container{
  
}
th{
    font-size: 16px!important;
}

.top-10{
    margin-top: 10px;
}

@media print
{
    .item_name{
        width: 300px!important;
    }

th{
    font-size: 16px!important;
}
.pagebreak { page-break-before: always!important; } 
    .no-print, .no-print *
    {
        display: none !important;
    }

a {
    text-decoration: none!important;
    color: black!important;
}
.container{
    margin-top: 0px!important;
    padding: 0px!important 
}

html, body{
  margin-top: 0.1in!important;
  margin-left: 0.25in!important; 
  margin-right: 0.1in!important; 
}
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.card, .card-header{
    border-radius: 0px!important;
}
.select2-container--bootstrap .select2-selection--single {
    height: 40px!important;
    line-height: 1.5rem!important;
    padding: 0.25rem!important;
}
.form-control{
    height: 40px!important;
}
.pagination{
    text-align:center!important;
    width: 100%;
    text-align: center;
}
.pagination a, .pagination span, .pagination em{
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    border: 1px  #0076ff solid;
    color:  #0076ff;
    text-decoration: none
}
.current, .previous_page, .next_page {
    color: white!important;
    background-color: #0076ff
}
.current{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    margin: 2px;
    font-style: normal;
    border: none;
}
.paginate-btn.disabled{
    background-color: gray!important
}


@media screen and (max-width: 767px) {
 div.dataTables_length, div.dataTables_filter {
        text-align: left!important;
    }

    div.dataTables_wrapper div.dataTables_filter input {
        width: 200px!important;
    }

    div.dataTables_wrapper div.dataTables_length select {
        width: 200px!important;
    }
    .imex{
        margin-bottom: 5px;
        text-align: right;
        width: 100%;
        float: none!important

    }
}

@media screen and (max-width: 415px) {
  .login-box{
    height: 270px;
    width: 300px;
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .login-box{
    height: 270px;
    width: 290px;
    padding: 10px;
  }
}

