.round-menu{
    border-radius: 10px!important;
    border-color: white!important;
}
#oneirt-items{
    display: none;
}
.item_name{
    width: 300px!important;
}
.separator{
    clear:both;
    height: 20px;
    border-bottom: 1px gray solid;
    margin-bottom: 20px
}
body{
    font-family: "kokila"!important;
    font-size: 20px!important;
}
input{
    font-size: 20px!important;
    color: black!important;
    font-weight: bold;
}
.gov_name{
	font-size: 14px;
}
.min_name{
	font-size: 18px;
}
.off_name{
	font-size: 22px;
	font-weight: bold;
}
.form_name{
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}


.table-black-border td, .table-black-border th{
    border: 1px black solid!important;
}
.borderless td, .borderless th {
    border: none;
}
.preeti{
    font-family: "preeti", Kokila;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    font-size: 20px;
    height: 35px;
    width: 100%!important;
}
.container{
  
}
th{
    font-size: 16px!important;
}


@media print
{
    .item_name{
        width: 300px!important;
    }

th{
    font-size: 16px!important;
}
.pagebreak { page-break-before: always!important; } 
    .no-print, .no-print *
    {
        display: none !important;
    }

a {
    text-decoration: none!important;
    color: black!important;
}
.container{
    margin-top: 0px!important;
    padding: 0px!important 
}

html, body{
  margin-top: 0.1in!important;
  margin-left: 0.25in!important; 
  margin-right: 0.1in!important; 
}
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}